* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf1f1;
    min-width: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    background-color: #ffffffd6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.207);
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 102, 0, 0.746);
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar .logo i {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 102, 0, 0.746);
    padding: 8px;
    border-radius: 4px;
}

.navbar .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar .nav-links a i {
    font-size: 18px;
    font-weight: 900;
}

.navbar .nav-links a:hover {
    color: rgba(0, 102, 0, 0.746);
}

.signin-btn {
    padding: 10px 16px;
    background-color: white; 
    color: rgba(0, 102, 0, 0.746);
    border: 1px solid rgba(0, 102, 0, 0.746);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signin-btn:hover {
    background-color: rgba(237, 206, 35, 0.827);
}

/* Ore-ore's website edit or the product menu */
.Home-intro{
    display: flex;
    /* margin: 100px 75px 0 75px; */
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin: auto;
}

h1{
    font-family: 'Fredoka One', cursive;
    color: rgb(63,121,99);
    font-size: 75px;
}
.card-1 img{
    height: 115px;
    margin-left: -50px;
}

.card-1 p{
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 1.28em;
    margin-bottom: 35px;
}

.browse-product{
    padding: 15px 35px 15px 35px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(63,121,99);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.view-cart{
    padding: 13px 25px 13px 25px;
    border-radius: 5px;
    border: 2px solid rgb(63,121,99);
    background-color:  rgba(0, 0, 0, 0.0);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:  rgb(63,121,99);
    margin-left: 13px;
}

.card-2{
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30); */
    width: 750px;
    box-sizing:border-box;
    transition-duration: 1s;
}

.card-2 > img{
    max-width: 100%;
    height: auto;
    margin: 0px 0 0 75px;
    border-radius: 25px;
}

h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
    color: rgb(63,121,99);
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h3{
    font-size: 24px;
    margin: 25px 0 12px 35px;
    font-family: 'Poppins', sans-serif;
    
    
}

.product-lineup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -115px;
    margin-bottom: -75px;
}

.product-1{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30);
    width: 350px ;
    height: 450px   ;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 1s;
    margin-left: 45px;
    /* margin: auto; */
    
}

.product-1:hover{
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30),  0 14px 11px rgba(0, 0, 0, 0.22);
    width: 370px;
    
}

.product-1 > img{
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.product-1 p{
    /* text-align: justify; */
   margin-left: 35px;
   line-height: 1.6em;
    
}

.product-1 i{
    text-decoration: line-through double;
    font-style: normal;

}

.product-1 span{
    float: left;
    margin: 13px 0 0 33px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: rgb(63,121,99); 
}

/* .product-1 p{
    float: left;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(0,0,0); 
} */

.product-1 button{
    float: right;
    margin: 5px 33px 0 0;
    padding: 13px 25px 13px 25px;
    border: none;
    border-radius: 25px;
    background-color:rgb(63,121,99); 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white
}

.prod-button{
    /* display: inline; */
    /* text-align: center; */
    /* margin-left: 680px; */
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(63,121,99);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;

}

.but-case{
    text-align: center;
    margin: 0 auto  50px auto;
}

/* .prod-button1{
    display: inline;
    text-align: center;
    margin-left: 680px;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    border: none;
    background-color:  rgb(63,121,99);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;

} */
/* .all-prod{
    text-align: center;
    margin: 0 auto  ;
} */
/* .all-products{
    position: relative;
    margin: 5px auto;
text-align: center;

} */


/* The Footer Styles */

footer{
    /* margin-bottom: 80px; */
    background-color: #f2e9e9;
    height:62vh;
    /* padding-bottom: 40px; */
}

footer h2{
    margin-bottom: 25px;

}
footer p{
    text-align: center;
    color: rgb(63,121,99);
}

footer > div{
    margin-top: 45px;
}

footer .cake1{
    height: 45px;
    margin: 26px 0 0px 0;

}

footer .cookie1{
    height: 90px;
    margin: 4px 0 -22px 0;

}

footer .brownie1{
    height: 79px;
    margin: 11px 0 -18px 0;

}

.footer-case{
    display: flex;
    justify-content: center;
}

footer h3{
    text-align: center;
    margin: 5px 0 15px 0;
    color: rgb(63,121,99);
}

.footer-card{

     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30);
    width: 285px ;
    height: 185px   ;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 1s;
    margin-left: 30px;
    text-align: center;

}

.footer-card:hover{
    box-shadow: 0 18px 36px rgba(0, 0, 0, 0.30),  0 14px 11px rgba(0, 0, 0, 0.22);
    height: 195px;
    width: 305px;
}
.footer-card p{
    text-align: center;
}

@media screen and (max-width:787px) {

 /* Nav-bar Section */

 .navbar {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    background-color: #ffffffd6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.207);
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 102, 0, 0.746);
    display: flex;
    align-items: center;
    gap: 6px;
}

.navbar .logo i {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 102, 0, 0.746);
    padding: 8px;
    border-radius: 4px;
}

.navbar .nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar .nav-links a i {
    font-size: 18px;
    font-weight: 900;
}

.navbar .nav-links a:hover {
    color: rgba(0, 102, 0, 0.746);
}

.signin-btn {
    padding: 10px 16px;
    background-color: white; 
    color: rgba(0, 102, 0, 0.746);
    border: 1px solid rgba(0, 102, 0, 0.746);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signin-btn:hover {
    background-color: rgba(237, 206, 35, 0.827);
}

/* body section */



.Home-intro{
    display: inline;
    /* margin: 100px 75px 0 75px; */
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin: 0;
}

.card-2{
    /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.30); */
    /* width: 750px; */
    box-sizing:border-box;
    transition-duration: 1s;
    margin: 0;
}

.card-2 > img{
    max-width: 100%;
    height: 0 ;
    margin: 50px 0 40px 0px;
    border-radius: 25px;
    margin: 0;
}

.product-lineup{
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -115px;
    margin-bottom: -75px;
    margin-left: 0;
    margin-right: 0;
}

.product-1{
    
    margin-top: 15px;
    /* margin: auto; */
    margin-right: ;
    margin-left: )    
}
    
footer{
    margin: 0;
}
}